.project-card{
    background: #222222;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    margin: 15px;
    height: 320px;
}

.project-card img{
    max-width: 90%;
    margin: 5px auto;
    border-radius: 3px;
}
