<header> 
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <a routerLink="/" routerLinkActive="active"
                   class="navbar-brand">Carlo Supina's Webpage</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active" class="pad-list">Home</a></li>
                <li><a routerLink="/bio" routerLinkActive="active" class="pad-list">Bio</a></li>
                <li><a routerLink="/notes" routerLinkActive="active" class="pad-list">Notes</a></li>
                <li><a routerLink="/projects" routerLinkActive="active" class="pad-list">Projects</a></li>
                <li><a href="CarloResume.pdf" class="pad-list" >Resume</a></li>
            </ul>

        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>
